<div class="h-screen md:flex">
  <div
    class="relative overflow-hidden md:flex w-screen bg-gradient-to-tr from-blue-800 to-cyan-200/90 i justify-around items-center hidden"
  >
    <div
      class="absolute -bottom-32 -left-40 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8 border-white"
    ></div>
    <div
      class="absolute -bottom-40 -left-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"
    ></div>
    <div
      class="absolute -top-40 -right-0 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"
    ></div>
    <div
      class="absolute -top-20 -right-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8 border-white"
    ></div>

    <div
      class="flex md:w-1/4 justify-center py-12 items-center bg-white/50 rounded-2xl"
    >
      <form (ngSubmit)="onSubmit()" [formGroup]="RegisterForm" class="bg-transparent">

        <h1 class="text-black font-bold text-2xl mb-1">Olá Usuario!</h1>
        <p class="text-sm font-normal text-black mb-7">Bem vindo!</p>
        <div class="flex items-center border-2 py-2 px-3 rounded-2xl mt-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-black"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
              clip-rule="evenodd"
            />
          </svg>
          <input formControlName="username"
            class="pl-2 outline-none border-none text-black"
            type="text"
            name=""
            id=""
            placeholder="Usuario"
          />
        </div>
        <small *ngIf="RegisterForm.controls['username'].dirty && RegisterForm.hasError('required', 'username')" class="text-red-500">*Favor informar um usuario valido*</small>
        <div class="flex items-center border-2 py-2 px-3 rounded-2xl mt-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-black"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
              clip-rule="evenodd"
            />
          </svg>
          <input formControlName="password"
            class="pl-2 outline-none border-none text-black pr-10"
            type="{{ type }}"
            name=""
            id=""
            placeholder="Senha"
          />
          <span
            (click)="EscondeMostraSenha()"
            class="fa {{ eyeIcon }} cursor-pointer"
          ></span>
        </div>
        <div class="flex items-center border-2 py-2 px-3 rounded-2xl mt-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-black"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
              clip-rule="evenodd"
            />
          </svg>
          <input formControlName="ConfPassword"
            class="pl-2 outline-none border-none text-black "
            type="{{ type }}"
            name=""
            id=""
            placeholder="Confirmar a senha"
          />
        </div>
        <a>____________________________________________</a>
        <small *ngIf="RegisterForm.controls['password'].dirty && RegisterForm.hasError('required', 'password')" class="text-red-500">*Favor informar uma senha valida*</small>
        <button
          type="submit"
          class="text-center cursor-pointer block w-full bg-blue-900/90 mt-4 py-2 rounded-2xl text-black font-semibold mb-2">
          Registrar
        </button>
        <p>Já tem uma conta? <a (click)="ToLogin()" class="text-blue-800 cursor-pointer underline">Fazer Login</a></p>
      </form>
    </div>
  </div>
</div>
