<div class="w-full rounded-none h-12">
  <p-menubar [model]="items" class="">
    <ng-template #start>
      <a (click)="drawerVisible = true" class="flex items-center p-menubar-item-link">
        <span>
          <p-button pRipple icon="pi pi-bars" label=""></p-button>
        </span>
      </a>
    </ng-template>
    <ng-template #item let-item let-root="root">
      <div >
        <h1 class="text-xl font-semibold {surface.700} dark:text-fuchsia-100">{{ title }}</h1>
      </div>
    </ng-template>
    <ng-template #end>
      <div class="flex items-center gap-2">
        <p-button icon="pi pi-bolt" label=""></p-button>
        <p-avatar icon="pi pi-user" shape="circle" />
      </div>
    </ng-template>
  </p-menubar>
</div>

<p-drawer [(visible)]="drawerVisible">
  <div class="text-center items-center justify-center">
    <h1 class="text-4xl text-slate-900 dark:text-slate-200">Dionisus</h1>
  </div>
  <div class="mt-4">
    <h1 class="text-xl text-slate-700 dark:text-slate-100/50">Paginas</h1>
    <ul class="p-2 mt-4">
      <li>
        <p-button routerLink="/homepage" icon="pi pi-home" variant="text"
          class="rounded-xl hover:p-2 hover:bg-black/5 text-purple-950 dark:text-slate-200 transition-all duration-200 ease-in"
          label="Home"></p-button><br />
      </li>
      <li>
        <p-button routerLink="/atendimentos" icon="pi pi-whatsapp" variant="text"
          class="rounded-xl hover:p-2 hover:bg-black/5 text-purple-950 dark:text-slate-200 transition-all duration-200 ease-in"
          label="Atendimentos"></p-button><br />
      </li>
      <li>
        <p-button routerLink="/agendamentos" icon="pi pi-address-book" variant="text"
          class="rounded-xl hover:p-2 hover:bg-black/5 text-purple-950 dark:text-slate-200 transition-all duration-200 ease-in"
          label="Agendamentos"></p-button><br />
      </li>
      <li>
        <p-button routerLink="/clientes" icon="pi pi-user-plus" variant="text"
          class="rounded-xl hover:p-2 hover:bg-black/5 text-purple-950 dark:text-slate-200 transition-all duration-200 ease-in"
          label="Clientes"></p-button><br />
      </li>
      <li>
        <p-button routerLink="/empresas" icon="pi pi-building" variant="text"
          class="rounded-xl hover:p-2 hover:bg-black/5 text-purple-950 dark:text-slate-200 transition-all duration-200 ease-in"
          label="Empresas"></p-button><br />
      </li>
    </ul>
    <h1 class="text-xl text-slate-700 dark:text-slate-100/50">Relatorios</h1>

  </div>
</p-drawer>
