<div class="text-center py-5 rounded">
  <h1 class="display-6 fw-bold">Atendimentos</h1>
</div>
<div class="row mt-5">
  <div class="col-6">
    <app-atendimentos-form />
  </div>
  <div class="col-6 row-2">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>
                Atendimento Id
            </th>
            <th>
                Atendente Id
            </th>
            <th>
                Cliente Atendido
            </th>
            <th>
              Data de Atendimento
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let at of service.list">
            <td>{{at.atendimento_Id}}</td>
            <td>{{at.atendenteId}}</td>
            <td>{{at.cliente_Atendido}}</td>
            <td>{{at.data_Atendimento | date: "dd/MM/yyyy"}}</td>
            <i
            (click)="DeleteAtend(at.atendimento_Id)"
            class="text-danger px-2 fa-solid fa-lg fa-trash mouse-hover grow-on-hover"
          ></i>
          <i
            (click)="populateForm(at)"
            class="fa-solid fa-book grow-on-hover mouse-hover"
          ></i>
          </tr>
          
        </tbody>
    </table>  
  </div>
</div>
