<div class="bg-gray-200">
  <form action="" class="px-4 my-32 max-w-3xl mx-auto space-y-3">
    <h1 class="text-2xl">Atendimentos Form</h1>
    <p>Work smart not hard</p>
    <div>
      <label for="Atendente">Atendente</label>
      <input type="text" name="Atendente" id="Atendente" class="border border-gray-400 block py-1 px-4 w-1/2 rounded-2xl focus:outline-none focus:border-blue-400"/>
    </div>
    <div>
      <label for="Cliente">Cliente</label>
      <input type="text" name="Cliente" id="Cliente" class="border border-gray-400 block py-1 px-4 w-1/2 rounded-2xl focus:outline-none focus:border-blue-400"/>
    </div>
    <div>
      <label for="Empresa">Empresa</label>
      <input type="text" name="Empresa" id="Empresa" class="border border-gray-400 block py-1 px-4 w-1/2 rounded-2xl focus:outline-none focus:border-blue-400"/>
    </div>
    <div>
      <label for="DataAtt">Data Atendimento</label>
      <input type="text" name="DataAtt" id="DataAtt" class="border border-gray-400 block py-1 px-4 w-1/2 rounded-2xl focus:outline-none focus:border-blue-400"/>
    </div>
    <div>
      <label for="Problema">Problema Apresentado</label>
      <input type="text" name="Problema" id="Problema" class="border border-gray-400 block py-1 px-4 w-1/2 rounded-2xl focus:outline-none focus:border-blue-400"/>
    </div>
    <div>
      <label for="Resolucao">Resolucao</label>
      <input type="text" name="Resolucao" id="Resolucao" class="border border-gray-400 block py-1 px-4 w-1/2 rounded-2xl focus:outline-none focus:border-blue-400"/>
    </div>
  </form>
</div>
