<div class="bg-gray-50">
  <form action="" class="px-32 my-30 max-w-3xl mx-auto space-y-3">
    <div class="">
      <h1 class="text-3xl font-medium">Atendimentos Form</h1>
      <p class="text-sm text-gray-600">Work smart not hard</p>
    </div>

    <div class="flex space-x-4">
      <div>
        <label for="Atendente">Atendente</label>
        <input
          [(ngModel)]="AtendimentoObj.atendenteId"
          type="text"
          name="Atendente"
          id="Atendente"
          class="border shadow border-gray-400 block py-1 px-4 w-52 rounded-2xl focus:outline-none focus:border-blue-400 hover:border-blue-400 transition-all duration-700"
        />
      </div>
      <div>
        <label for="Cliente">Cliente</label>
        <input
        [(ngModel)]="AtendimentoObj.cliente_Atendido"
          type="text"
          name="Cliente"
          id="Cliente"
          class="border shadow border-gray-400 block py-1 px-4 w-52 rounded-2xl focus:outline-none focus:border-blue-400 hover:border-blue-400 transition-all duration-700"
        />
      </div>
    </div>

    <div class="flex space-x-4">
      <div>
        <label for="Empresa">Empresa</label>
        <input
        [(ngModel)]="AtendimentoObj.empresaId"
          type="text"
          name="Empresa"
          id="Empresa"
          class="border shadow border-gray-400 block py-1 px-4 w-52 rounded-2xl focus:outline-none focus:border-blue-400 hover:border-blue-400 transition-all duration-700 hover:"
        />
      </div>
      <div>
        <label for="DataAtt">Data Atendimento</label>
        <input
        [(ngModel)]="AtendimentoObj.data_Atendimento"
          type="date"
          name="DataAtt"
          id="DataAtt"
          class="border shadow border-gray-400 block py-1 px-4 w-52 rounded-2xl focus:outline-none focus:border-blue-400 hover:border-blue-400 transition-all duration-700 hover:"
        />
      </div>
    </div>

    <div>
      <label for="Problema">Problema Apresentado</label>
      <textarea
      [(ngModel)]="AtendimentoObj.problemaApresentado"
        name="Problema"
        id="Problema"
        rows="4"
        class="border shadow border-gray-400 block py-1 px-4 w-10/12 rounded-2xl focus:outline-none focus:border-blue-400 hover:border-blue-400 transition-all duration-700 hover:"
      ></textarea>
    </div>
    <div>
      <label for="Resolucao">Resolucao</label>
      <textarea
      [(ngModel)]="AtendimentoObj.resolucaoDoProblema"
        rows="4"
        name="Resolucao"
        id="Resolucao"
        class="border shadow border-gray-400 block py-1 px-4 w-10/12 rounded-2xl focus:outline-none focus:border-blue-400 hover:border-blue-400 transition-all duration-700 hover:"
      ></textarea>
    </div>
    <div class="flex space-x-4">
      <button
        (click)="onSave()"
        type="button"
        class="cursor-pointer border border-gray-500 w-54 rounded-2xl h-12 shadow-gray-950 shadow hover:bg-black/10 hover:text-black bg-gray-500 text-white transition-all duration-700 hover:scale-105"
      >
        Salvar
      </button>
      <button
       (click)="onCancel()"
        type="button"
        class="cursor-pointer border border-gray-500 w-54 rounded-2xl h-12 shadow-gray-950 shadow hover:bg-gray-800 bg-gray-800/70 text-white transition-all duration-700 hover:scale-105"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
