<div class="h-full w-full flex">
  <div class="fixed bottom-8 right-8 border-2 border-gray-400 row-border stripe w-[1200px] h-[640px] shadow-xl p-4 flex flex-col">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="border-amber-950 border cell-border display nowrap">
      <thead class="P-4">
        <tr>
          <th>ID</th>
          <th>CLIENTE</th>
          <th>EMPRESA</th>
          <th>DATA ATENDIMENTO</th>
          <th>DATA INCLUSÃO</th>
          <th>ATENDENTE</th>
          <th>PROB APRE</th>
          <th>RES PROB</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dados" (dblclick)="OnRowDoubleClick(item)">
          <td>{{ item.atendimento_Id }}</td>
          <td>{{ item.cliente_Atendido }}</td>
          <td>{{ item.empresaId }}</td>
          <td>{{ item.data_Atendimento | date:'dd/MM/yyyy, HH:mm:ss'  }}</td>
          <td>{{ item.data_Inclusao | date:'dd/MM/yyyy, HH:mm:ss' }}</td>
          <td>{{ item.atendenteId }}</td>
          <td>{{ item.problemaApresentado }}</td>
          <td>{{ item.resolucaoDoProblema }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
