<div class="h-full w-full">
  <div>
    <div class="text-center">
      <h1 class="text-3xl font-medium">Clientes Form</h1>
      <p class="text-sm text-gray-600">Work smart not hard</p>
    </div>
  </div>

  <div class="fixed bottom-8 right-8 border-2 border-gray-400 row-border stripe w-[1200px] h-[640px] shadow-xl p-4 flex flex-col">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="border-amber-950 border cell-border display nowrap">
      <thead class="bg-gray-400 border-black">
        <tr>
          <th class="border-2 border-black">ID CLIENTE</th>
          <th class="border-2 border-black">NOME CLIENTE</th>
          <th class="border-2 border-black">ID EMPRESA</th>
          <th class="border-2 border-black">EMPRESA</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dados" (dblclick)="OnRowDoubleClick(item)" class="odd:bg-gray-200 even:bg-gray-400">
          <td class="border-2  border-black">{{ item.idCliente }}</td>
          <td class="border-2  border-black">{{ item.nomeCliente }}</td>
          <td class="border-2  border-black">{{ item.idEmpresa }}</td>
          <td class="border-2  border-black">{{ item.nomeEmpresa }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
