<p-card class="bg-black">
  <div class="flex flex-col h-screen overflow-hidden">
    <div class="flex text-center justify-center items-center"></div>
    <p-toast />
    <p-dialog
      header="Incluir"
      [modal]="true"
      [(visible)]="visivel"
      [style]="{ width: '700px', height: '600px' }"
    >
      <form [formGroup]="atendimentosForm" (submit)="addAtendimento()">
        <span class="p-text-secondary block mb-8"
          >Adicione um Atendimento.</span
        >

        <div class="flex flex-wrap gap-4 mb-8">
          <div class="flex flex-1 min-w-[240px] gap-4">
            <p-floatlabel class="flex-1">
              <p-select
                [editable]="true"
                formControlName="clienteId"
                [options]="attClientesOptions"
                optionValue="clienteId"
                optionLabel="clienteNome"
                placeholder="Cliente"
                class="w-full"
              >
              </p-select>
              <label for="clientes">Cliente:</label>
            </p-floatlabel>

            <p-floatlabel class="flex-1">
              <p-datepicker [showTime]="true" formControlName="dataAtendimento" [fluid]="true" />
              <label for="clientes">Data do atendimento</label>
            </p-floatlabel>
          </div>
        </div>

        <div class="flex flex-wrap gap-4 mb-4">
          <div class="flex flex-1 min-w-[240px] gap-4">
            <p-floatlabel class="flex-1">
              <textarea
                pTextarea
                id="problemaApresentado"
                formControlName="problemaApresentado"
                rows="5"
                cols="30"
                style="resize: none"
                class="w-full"
              ></textarea>
              <label for="problemaApresentado">Problema</label>
            </p-floatlabel>

            <p-floatlabel class="flex-1">
              <textarea
                pTextarea
                id="resolucaoDoProblema"
                formControlName="resolucaoDoProblema"
                rows="5"
                cols="30"
                style="resize: none"
                class="w-full"
              ></textarea>
              <label for="resolucaoDoProblema">Resolução</label>
            </p-floatlabel>
          </div>
        </div>

        <div class="mt-auto flex justify-center items-center h-16 w-full">
          <div class="space-x-10">
            <p-button
              type="submit"
              [severity]="'success'"
              icon="pi pi-user-plus"
              label="Salvar"
            />
            <p-button
              (onClick)="cancelarForm()"
              [severity]="'danger'"
              icon="pi pi-ban"
              label="Cancelar"
            />
          </div>
        </div>
      </form>
    </p-dialog>

    <div class="items-center justify-center w-full px-2 mt-4">
      <div
        class="h-16 w-screen flex justify-start items-start space-x-2 p-2 mb-2"
      >
        <p-toast />
        <p-button
          outlined="true"
          raised="true"
          severity="success"
          label="Incluir"
          (onClick)="showDialogo()"
        />
        <p-button
          raised="true"
          outlined="true"
          icon="pi pi-external-link"
          label="Excel"
          (onClick)="exportXlsx()"
        ></p-button>
      </div>

      <p-table
        #dt
        id="table-data"
        [formGroup]="atendimentosForm"
        [resizableColumns]="true"
        columnResizeMode="expand"
        scrollable="false"
        stripedRows="true"
        showGridlines="true"
        paginator="true"
        [rows]="10"
        [rowsPerPageOptions]="[5, 20, 150]"
        [columns]="cols"
        [value]="atendimentosList"
        [tableStyle]="{ 'min-width': '10rem', 'min-height': '35rem' }"
      >
        <ng-template #header let-tabela>
          <tr>
            <th pResizableColumn *ngFor="let col of cols">
              {{ col.cabecalho }}
            </th>
            <th>Ação</th>
          </tr>
        </ng-template>
        <ng-template #body let-rowData let-colums="colums">
          <tr>
            <td *ngFor="let col of cols">
              {{ rowData[col.campo] }}
            </td>
            <td>
              <div class="space-x-2 w-16">
                <p-button
                  (onClick)="(rowData.empresaId)"
                  outlined="true"
                  [raised]="true"
                  severity="danger"
                  icon="pi pi-user-minus"
                  label="Delete"
                />
                <p-button
                  (onClick)="(rowData)"
                  outlined="true"
                  [raised]="true"
                  severity="info"
                  icon="pi pi-user-edit"
                  label="Editar"
                />
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>
