<div class="h-full w-full flex">
  <div class="w-1/2 h-1/2 flex p-10 ">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="border-amber-950 border cell-border display nowrap">
      <thead class="P-4">
        <tr>
          <th>ID</th>
          <th>CLIENTE</th>
          <th>EMPRESA</th>
          <th>DATA ATENDIMENTO</th>
          <th>DATA INCLUSÃO</th>
          <th>ATENDENTE</th>
          <th>PROB APRE</th>
          <th>RES PROB</th>
          <th>Açao</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dados">
          <td>{{ item.atendimento_Id }}</td>
          <td>{{ item.cliente_Atendido }}</td>
          <td>{{ item.empresaId }}</td>
          <td>{{ item.data_Atendimento | date:'dd/MM/yyyy, HH:mm:ss'  }}</td>
          <td>{{ item.data_Inclusao | date:'dd/MM/yyyy, HH:mm:ss' }}</td>
          <td>{{ item.atendenteId }}</td>
          <td>{{ item.problemaApresentado }}</td>
          <td>{{ item.resolucaoDoProblema }}</td>
          <td>
            <button
              (click)="ShowSuccees()"
              type="button"
              class="bg-amber-300 cursor-pointer p-2 rounded-2xl"
            >
              Click
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
